*{
    margin:0px;
    padding:0px;
}
.hello{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin: 9px;
}
ul{
    display: flex;
    position: relative;
    justify-content: center;
    background-color: rgb(54,44,44);

}
    ul li{
        color:white;
        list-style: none;
        font-size:15px;
    }
    ul::before{
        content: "";
        background-color: black;
        position:absolute;
        height:150%;
        width:100%;
        z-index: -1;
        opacity:4.2;
    }
    ul li a{
        display:block;
        padding:8px 15px;
        border-radius:15px;
        color:white;
        text-decoration:none ;
        font-size: 21px;
    }
    ul li a:hover{
        color:black;
        background-color:rgb(220,202,177);
    }
    #home{
        display:flex;
        flex-direction:column;
        height:500px;
        padding:30px 200px;
        justify-content: center;
        align-items: center;
    }
    #home::before{
        content:"";
        position:absolute;
        background:url('./img444.jpg') no-repeat fixed center/cover;
        height:100%;
        width:100%;
        z-index:-1;
        opacity:1;
    }
    
    #home p{
        color: aliceblue;
        text-align:center;
        font-size:60px;
        background-color: rgb(50,32,8,0.388);
        border-radius:20px;
        margin-bottom: 0;
        padding: 10px;
    }
    
    #home p1{
        color:aliceblue;
        text-align:center;
        font-size:37px;
        border-radius: 20px;
        background-color: rgb(50,32,8,0.388);
        width: 105%;
        padding: 20px;
    }
   .btn{
       color:aliceblue;
       text-align:center;
       font-size:32px;
       border-radius:6px;
       cursor:pointer;
       padding:5px 18px;
       margin:13px;
       font-family:'Times New Roman', Times, serif;
       background-color: rgb(54,44,44);
       text-decoration: none;
    }
    .btn:hover{
        background-color:rgb(208, 176, 132) ;
        color:black;
    }
    .right{
        position:absolute;
        right:20px;
        top:1px;
       }
    .button{
        padding:5px 18px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 21px;
        color: white;
        background-color: rgb(54,44,44);
        border-radius: 10px;
        text-decoration: none;
    }
    .button:hover{
        color: black;
        background-color: rgb(220,202,177);
        padding:5px 18px;
        border-radius: 10px;
        cursor: pointer;
    }
    #welcome{
        text-align:center;
        color:aliceblue;
        background-color: rgb(50,32,8,0.399);
        border-radius:20px;
        margin-bottom: 0;
        padding: 10px;
        font-size:45px;
    }