
/* background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)), url(../images/main.jpeg) center/cover no-repeat;  */
:root{
    --transition: all 0.3s linear;
}
*,
::after,
::before {
  margin: 8px;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: rgb(54, 44, 44);;
}
.service {
    background: rgb(220, 202, 177);
    padding: 1.5rem 0.5rem;
    margin-top: 33px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .service-icon {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .service .underline {
    width: 3rem;
    height: 0.12rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .service p {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .service:hover {
    background: rgb(249, 182, 106);
    color: white;
  }
  .service:hover p {
    color: black;
  }
  .service:hover .underline {
    background: black;
  }
  .section-title{
  display: flex;
  }
  .home{
    margin: 7px -34px;
    padding: 33px;
    
  }
  .home1{
    text-decoration: none;
    font-size: 22px;
    background-color: rgb(220, 202, 177);
    padding: 10px;
    margin: 20px 10px;
    border-radius:10px ;
    color: black;
  }
  .home1:hover{
    color: #786c7a;
  }
  h2{
      margin: auto;
      text-align: center;
      font-size: 40px;
      background-color: rgb(220, 202, 177);
      width: 65%;
      border-radius: 10px;
  }
  h4{
      font-size: 23px;
 }
  @media screen and (min-width: 676px) {
    .services-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
    }
  }
  @media screen and (min-width: 992px) {
    .services-center {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }